<!doctype html>
<html lang="en">
    {{>head}}

    <body>
        {{>header}}

        <main role="main">
            <div class="wrapper">
                <ul class="posts">
                    {{#each collections.blog}}
                        <li class="posts__item">
                            <a class="posts__title truncate-text" href="{{site.url}}/{{path}}" title="{{title}}">{{title}}</a>

                            <time class="posts__timestamp" datetime="{{date}}">
                                {{date}}
                            </time>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </main>
    </body>

    {{>googleanalytics}}
</html>
